<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="media : ${medias}" class="checkbox">
        <input type="checkbox" name="mediaIds" th:value="${media.id}" th:id="${media.id}"/>
        <label th:for="${media.id}" th:text="${media.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Media" />
</form>

</body>
</html>