<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <div class="container body-content">

            <form th:object="${form}" method="post" action="/collection/add-item">
                <div class="form-group">
                    <label th:for="mediaId">Media</label>
                    <select name="mediaId">
                        <option th:each="media: *{medias}"
                                th:value="${media.id}"
                                th:text="${media.name}"></option>
                    </select>

                    <input type="hidden" name="collectionId" th:value="*{collection.id}" />
                </div>

                <input type="submit" value="Add" />
            </form>

        </div>

    </body>
</html>