<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <ul>
            <li th:each="collection: ${collections}">
                <a th:href="@{'/collection/view/' + ${collection.id}}" th:text="${collection.name}"></a>
            </li>
        </ul>

        <a th:href="@{'/collection/add/'}">Add Collection</a>

    </body>
</html>